body {
  padding: 2px 20%;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #182825;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

hr {
  color: #016fb9;
}
